<%= render 'layouts/header'%>

<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        投稿者一覧
      </h1>
    </div>
  </div>
</section>

<%= render 'users/post' %>
